Repository NUARIG/competitions, pull requests merged in 2020-12, with the labels that each got.

#718 Process reviewer invitation on login
  app/controllers/registered_users/registrations_controller.rb
  app/controllers/saml_sessions_controller.rb
  app/models/grant_reviewer/invitation.rb
  app/models/registered_user.rb
  app/models/user.rb
  spec/models/registered_user_spec.rb
  spec/models/saml_user_spec.rb
  spec/requests/user_requests/registered_users_spec.rb
  spec/system/users/registered_users_spec.rb
Labels: feature, reviewers

#720 Feature/add ajax to grant permissions 714
  app/assets/javascripts/grant_permissions.js
  app/controllers/grant_permissions/users_query_controller.rb
  app/controllers/grant_permissions_controller.rb
  app/views/grant_permissions/_new_form.html.haml
  config/routes.rb
  spec/system/grant_permissions/grant_permissions_spec.rb
Labels: frontend, grant edit/admin

#721 Feature/reviewer invitations
  app/controllers/grant_reviewers/invitations_controller.rb
  app/controllers/grant_reviewers_controller.rb
  app/controllers/registered_users/registrations_controller.rb
  app/controllers/saml_sessions_controller.rb
  app/mailers/grant_reviewer_invitation_mailer.rb
  app/models/grant.rb
  app/models/grant_reviewer.rb
  app/models/grant_reviewer/invitation.rb
  app/models/paper_trail/grant_reviewer_invitation_version.rb
  app/models/registered_user.rb
  app/models/user.rb
  app/views/grant_reviewer_invitation_mailer/invite.html.haml
  config/locales/activerecord/grant_reviewer_invitation.yml
  config/routes.rb
  db/migrate/20201117180406_create_reviewer_invitations.rb
  db/schema.rb
  spec/factories/grant_reviewer_invitation.rb
  spec/mailers/grant_reviewer_invitation_mailer_spec.rb
  spec/models/grant_reviewer_invitation_spec.rb
  spec/models/grant_spec.rb
  spec/models/paper_trail/grant_reviewer_invitation_spec.rb
  spec/models/registered_user_spec.rb
  spec/models/saml_user_spec.rb
  spec/requests/grant_reviewer_requests/invitations_spec.rb
  spec/requests/user_requests/registered_users_spec.rb
  spec/system/grant_reviewers/grant_reviewer_invitations_spec.rb
  spec/system/users/registered_users_spec.rb
Labels: feature, reviewers, users
