Repository NUARIG/competitions, pull requests merged in 2021-03, with the labels that each got.

#788 Release/1.9
  app/views/documentation/release/index.html.haml
  config/initializers/version.rb
Labels: release

#789 Release/1.9
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/documentation_release.scss
  app/assets/stylesheets/grant_permissions.scss
  app/controllers/application_controller.rb
  app/controllers/documentation/release_controller.rb
  app/controllers/documentation_controller.rb
  app/controllers/grant_creator_requests_controller.rb
  app/controllers/grant_permissions_controller.rb
  app/controllers/grant_submissions/submissions_controller.rb
  app/controllers/grants_controller.rb
  app/helpers/documentation/release_helper.rb
  app/mailers/grant_creator_request_mailer.rb
  app/mailers/grant_permission_mailers/submission_mailer.rb
  app/models/grant_permission.rb
  app/views/documentation/index.html.haml
  app/views/documentation/release/index.html.haml
  app/views/grant_permission_mailers/submission_mailer/submitted_notification.html.haml
  app/views/grant_permissions/_edit_form.html.haml
  app/views/grant_permissions/_notification_checkboxes.html.haml
  app/views/layouts/_footer.html.haml
  app/views/layouts/_header_help_links.html.haml
  app/views/users/_form.html.haml
  config/environments/production.example.rb
  config/environments/staging.example.rb
  config/initializers/version.rb
  config/routes.rb
  db/migrate/20210209185915_add_submission_notification_to_grant_permissions.rb
  db/schema.rb
  spec/factories/grant_permission.rb
  spec/mailers/grant_creator_request_mailer_spec.rb
  spec/mailers/grant_creator_request_review_mailer_spec.rb
  spec/mailers/grant_permission_mailers/submission_mailer_spec.rb
  spec/models/grant_permission_spec.rb
  spec/system/grant_permissions/grant_permissions_spec.rb
  spec/system/grant_submissions/grant_submission_responses_spec.rb
  spec/system/grants/grants_spec.rb
  spec/system/home/home_spec.rb
  spec/system/login/login_spec.rb
Labels: release

#797 hotfix/submission export limited by pagy settings
  app/controllers/grant_submissions/submissions_controller.rb
  app/views/documentation/release/index.html.haml
  config/initializers/version.rb
Labels: excel/pdf, hotfix, submissions

#798 Use correct pagy instance variable #795
  app/controllers/grant_submissions/submissions_controller.rb
Labels: hotfix

#799 Separate .xlsx queries to bypass pagy item limits #795
  app/controllers/grant_submissions/submissions_controller.rb
Labels: excel/pdf, grant edit/admin, hotfix, submissions

#800 Hotfix/submission export limited by pagy settings
  app/controllers/grant_submissions/submissions_controller.rb
  app/views/documentation/release/index.html.haml
  config/initializers/version.rb
Labels: excel/pdf, grant edit/admin, submissions

#802 Add simple reviewer invitation index view #770
  app/controllers/grant_reviewers/invitations_controller.rb
  app/controllers/grant_reviewers_controller.rb
  app/models/grant_reviewer/invitation.rb
  app/views/grant_reviewers/index.html.haml
  app/views/grant_reviewers/invitations/_invitation.html.haml
  app/views/grant_reviewers/invitations/index.html.haml
  spec/system/grant_reviewers/grant_reviewer_invitations_spec.rb
  spec/system/grant_reviewers/grant_reviewers_spec.rb
Labels: Community Feedback, grant edit/admin, reviewers

#804 task/refactor GrantPermission submission notification emails method
  app/controllers/grant_submissions/submissions_controller.rb
  app/helpers/documentation/release_helper.rb
  app/helpers/grant_permissions_helper.rb
  app/mailers/grant_permission_mailers/submission_mailer.rb
  app/models/grant_permission.rb
  spec/helpers/grant_permissions_helper_spec.rb
  spec/mailers/grant_permission_mailers/submission_mailer_spec.rb
Labels: grant-permissions, mailers, refactor
