Repository NUARIG/competitions, pull requests merged in 2021-01, with the labels that each got.

#729 Task/grant permissions edit layout
  app/views/grant_permissions/_edit_form.html.haml
  app/views/grant_permissions/_permissions_header.html.haml
  app/views/grant_permissions/edit.html.haml
  app/views/grant_permissions/new.html.haml
Labels: frontend, grant-permissions

#752 Task/add toggle comments for panel
  app/assets/stylesheets/panels.scss
  app/controllers/panels_controller.rb
  app/views/panels/edit.html.haml
  app/views/panels/submissions/reviews/index.html.haml
  config/locales/activerecord/panel.yml
  db/migrate/20210120213333_add_show_review_comments_to_panels.rb
  db/schema.rb
  spec/factories/panel.rb
  spec/factories/review.rb
  spec/models/panel_spec.rb
  spec/system/panels/panels_spec.rb
  spec/system/panels/submissions/reviews_spec.rb
Labels: panel, reviews

#753 add default publish date as today. #722
  app/views/grants/_form.html.haml
  spec/system/grants/duplicate_spec.rb
  spec/system/grants/grants_spec.rb
Labels: creating grant
