Repository NUARIG/competitions, pull requests merged in 2022-08, with the labels that each got.

#968 Bug/signout issue 964
  Gemfile
  Gemfile.lock
  app/assets/stylesheets/app.scss
  app/controllers/saml_sessions_controller.rb
  app/views/devise/menu/_login_items.html.haml
  app/views/devise/sessions/_form.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/layouts/_header.html.haml
  app/views/login/_login.html.haml
  config/initializers/devise.rb
  lib/devise_saml_authenticatable/competitions_idp_entity_id_reader.rb
  spec/system/grants/grants_spec.rb
  spec/system/home/home_spec.rb
  spec/system/login/login_spec.rb
  spec/system/users/registered_users_spec.rb
Labels: saml, devise, turbo

#970 Fix flash invitation related flash messages
  app/controllers/grant_reviewers/invitations/reminders_controller.rb
  app/controllers/grant_reviewers/invitations_controller.rb
  app/controllers/grant_reviewers_controller.rb
  app/views/grant_reviewers/index.html.haml
  app/views/grant_reviewers/invitations/_invitation.html.haml
  app/views/grant_reviewers/invitations/index.html.haml
  spec/system/grant_reviewers/grant_reviewer_invitations_spec.rb
Labels: reviewers

#972 Release/1.17
  app/assets/stylesheets/app.scss
  app/controllers/grant_reviewers/invitations/reminders_controller.rb
  app/controllers/grant_reviewers/invitations_controller.rb
  app/controllers/grant_reviewers_controller.rb
  app/views/devise/registrations/new.html.haml
  app/views/devise/sessions/_form.html.erb
  app/views/devise/sessions/new.html.erb
  app/views/documentation/release/index.html.haml
  app/views/grant_reviewers/index.html.haml
  app/views/grant_reviewers/invitations/_invitation.html.haml
  app/views/grant_reviewers/invitations/index.html.haml
  app/views/login/_login.html.haml
  config/initializers/version.rb
  spec/system/grant_reviewers/grant_reviewer_invitations_spec.rb
Labels: release

#974 update readme about Shibboleth. #517
  README.md
Labels: documentation
