Repository NUARIG/competitions, pull requests merged in 2022-07, with the labels that each got.

#950 Cache visible system banners and include on all pages #235
  Gemfile.lock
  app/controllers/banners_controller.rb
  app/helpers/banners_helper.rb
  app/models/banner.rb
  app/views/banners/new.html.haml
  app/views/home/index.html.haml
  app/views/layouts/application.html.haml
  config/application.rb
  config/environments/development.rb
  spec/controllers/banners_controller_spec.rb
  spec/spec_helper.rb
  spec/system/banners/banners_spec.rb
Labels: frontend, system_admin

#949 change text for reviewer email. #941
  app/views/reviewer_mailer/assignment.html.haml
Labels: reviewers, mailers

#955 add turbo-rails gem to update the version. #954
  Gemfile
  Gemfile.lock
Labels: javascript

#956 add checkbox for submission notifications to grant permissions new. #793
  app/views/grant_permissions/_edit_form.html.haml
  app/views/grant_permissions/_new_form.html.haml
  spec/system/grant_permissions/grant_permissions_spec.rb
Labels: grant-permissions

#960 Task/manage reviewer invitations
  app/controllers/grant_reviewers/invitations/reminders_controller.rb
  app/controllers/grant_reviewers/invitations_controller.rb
  app/models/grant_reviewer/invitation.rb
  app/views/grant_reviewers/invitations/_invitation.html.haml
  app/views/grant_reviewers/invitations/index.html.haml
  config/environments/development.rb
  config/routes.rb
  spec/models/grant_reviewer_invitation_spec.rb
  spec/requests/grant_reviewer_requests/invitations_spec.rb
  spec/system/grant_reviewers/grant_reviewer_invitations_spec.rb
Labels: reviewers

#962 Add notifications column to grant permissions index. #792
  app/helpers/application_helper.rb
  app/views/grant_permissions/index.html.haml
  spec/helpers/application_helper_spec.rb
  spec/system/grant_permissions/grant_permissions_spec.rb
Labels: grant-permissions

#963 remove logged in saml user access to password reset page. #602
  app/controllers/application_controller.rb
  app/controllers/registered_users/passwords_controller.rb
  spec/system/users/registered_users/confirmations_spec.rb
  spec/system/users/registered_users/passwords_spec.rb
  spec/system/users/registered_users/registrations_spec.rb
Labels: devise
